:root {
    --black: #000000;
    --white: #fff;
    --purpleone: #291a2b;
    --purpletwo: #383139;
    --purpletitle: #200624;
    --imggrey: #bdbdbc;

}


.landingBody{
    background-color: var(--dark-grey);
    height: 100vh;
    width: 100vw;
    position:absolute
}

.shadedBox{
    height: 270px;
    width:80%;
    background-color: var(--medgrey);
    margin-top: 30px;
    position:absolute;
    z-index: 3;
}

.titleFirstName {
    font-family: 'Reem Kufi';
    font-size: 150PX;
    color: var(--dark-grey);
    /* font-weight:bolder; */
    position:absolute;
    margin-left: 50px;
    margin-top: 70px;
    z-index:10;
    letter-spacing: -0.1em;

}

.titleLastName{
    font-size: 64px;
    color: var(--dark-grey);
    position: absolute;
    margin-top: 210px;
    margin-left: 59px;
    z-index: 10;
    font-family: 'Reem Kufi';
    letter-spacing: -0.02em;
}

.landingImage{
    height: 600px;
    position: absolute;
    margin-left: 125px;
    z-index: 9;
    border-radius: 0px 0px 5px 5px;
}

.mediumTitle{
    font-size: 45px;
    color:var(--purpletitle);
    z-index: 10;
    position: absolute;
    margin-left: 820px;
    font-family: 'Reem Kufi';
    transform: rotate(-270deg);
    justify-content: left;
}


.iam{
    font-size: 75px;
    color: var(--imggrey);
    position: absolute;
    z-index: 10;
    margin-left: 58px;
    margin-top: 20px;
    font-weight: bold;
    font-family: 'Reem Kufi';
}

.vl {
    height:5vh;
    border-right: 2px solid #bdbdbc ;
    margin-left: 95.9%;
    margin-top:100vh;
    transform:translateY(-100%);
    z-index: 10;
    max-width: 1px;
    position: absolute;
    min-height: 100px;
    border: 0px 0px 0px 2px solid #bdbdbc;
    right:50px;
    min-width: 1px;

}



.email {
    color: var(--white);
    font-family: monospace;
    font-size: 12px;
    right:-22px;
    transform: rotate(-270deg);
bottom:170px;
    z-index: 11;
    position: absolute;
}

.run{
    height: 100vh
}

.run1{
    position: fixed;
    margin-left: 300px;
    z-index: 10;

}

.run2{
    position: fixed;
    margin-left: 400px;;
    z-index: 9;
}

.run3{
    position: fixed;
    margin-left: 500px;
    z-index: 8;
    
}
.run4{
    position: fixed;
    margin-left: 600px;
    z-index: 7;
    
}


.run2:hover{
    z-index: 11;
}
.run3:hover{
    z-index: 11;
}
.run4:hover{
    z-index: 11;
}





/* Large Screen  */
@media screen and (max-width: 1200px) {

    .mediumTitle{
        position: absolute;
        transform: rotate(-270deg);
        justify-content: left;

    }
    .A{
        margin-left: 592px;
        font-size: 40px;
        margin-top: 374px;
        height: 60px
    }
    
    .B{
        margin-left: 535px;
        font-size: 40px;
        margin-top: 387px;
    }
    
    .C{
        margin-left: 615px;
        font-size: 40px;
        margin-top: 268px;
    }


}


/* Tablets  */
@media screen and (max-width: 768px) {

    .mediumTitle{
        position: absolute;
        transform: rotate(-270deg);
        justify-content: left;

    }
    .A{
        margin-left: 592px;
        font-size: 40px;
        margin-top: 374px;
        height: 60px
    }
    
    .B{
        margin-left: 535px;
        font-size: 40px;
        margin-top: 387px;
    }
    
    .C{
        margin-left: 615px;
        font-size: 40px;
        margin-top: 268px;
    }


}

@media screen and (max-width: 450px) {

    .landingImage{
        min-height: 650px;
        height: 100vh;
        position: absolute;
        z-index: 9;
        margin-left: 0;
    }

    .mediumTitle{
        position: absolute;
        transform: rotate(-270deg);


    }

    .iam{

        margin-top: 20px;
        margin-left:200px;
    }

    .titleFirstName{
        margin-top: 60px;
        margin-left: 25px;
    }

    .titleLastName{
        margin-top: 210px;
        margin-left: 33px;
    }

    .shadedBox{
        display: none;
    }


    .A{
        margin-left:50px;
        font-size: 40px;
        margin-top: 452px;
        min-width: 400px;
        max-height: 50 !important;

    }
    
    .B{
        margin-left: 20px;
        margin-top: 438px;
        font-size: 40px;
    }
    
    .C{
        margin-left: 100px;
        margin-top: 320px;
        font-size: 40px;
        
    }
    .email{
        color: var(--purpletitle);
        margin-left: 80vw;
        margin-top: 85vh;
    }
    .vl{
        margin-top: 100vh;
    }

}