:root {
    --black: #000000;
    --white: #fff;
    --bluegreenOne: #001f2e;
    --bluegreenTwo: #003447;
    --bluegreenText: #d8e7ee;
    --yellowdark: #a59500;
    --yellowlight: #ccba40;
}

.WebProjectsBody {
    background-color: var(--bluegreenOne);
    height: 100vh;
    width: 100vw;
    position:absolute

}


.WebProjectsTitleBox {
    background-color: var(--yellowlight);
    padding: 5px 30px 30px 30px;
    width: 85vw;
    height: 90px;
    color: var(--white);
    position: absolute;
    z-index:10;
    margin: 50px 7.5vw 0 7.5vw;
  
}

.WebProjectsContentBox{
    position: absolute;
    width: 85vw;
    margin-left: 30px;
    margin-top: 90px;
    padding: 20px;
    background-color: var(--bluegreenTwo);
    color: var(--white);
    margin: 0vw 7.5vw 0 7.5vw;
    height:90vh;
    border-radius: 2px;
}

.buildingImg{
    position: absolute;
    bottom: 0px;
    z-index: 10;
    right:0;
    margin-right: 70px;
    height: 500px;
    
    
}

.techBoxContent{
    font-family: 'Reem Kufi';
    color: var(--white);
    position: absolute;
    max-width: 200px;
    margin-top:300px;
    margin-left: 790px;
    z-index: 900;
}

.techBoxTitle {
    font-family: 'Reem Kufi';
    font-size: 30PX;
    color: var(--yellowdark);
    /* font-weight:bolder; */
    position: absolute;
    margin-left: 780px;
    margin-top: 250px;
    z-index: 10;
    letter-spacing: -0.1em;
}

.webTitle1 {
    font-family: 'Reem Kufi';
    font-size: 100PX;
    color: var(--bluegreenTwo);
    /* font-weight:bolder; */
    position: absolute;
    margin-left: 150px;
    margin-top: 20px;
    z-index: 10;
    letter-spacing: -0.1em;
}


.webTitle2{
    font-family: 'Reem Kufi';
    font-size: 100PX;
    color: var(--yellowlight);
    /* font-weight:bolder; */
    position: absolute;
    margin-left: 240px;
    margin-top: 100px;
    z-index: 10;
    letter-spacing: -0.1em;
}




